<% include partials/header %>
<style>
    .bro{
      background-image:url("http://www.lucerne.k12.ca.us/images/books%20background.jpg");
      background-repeat: no-repeat;
      background-size: auto;
      color: #FFFFFF;
    }
  </style>
<body class="bro" >
    <div class="container" class="bro">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header left">Find All Your Books for Cat-2</h1>
      <div class="row left"  >
        <h5 class="header col s12 light" style="margin-left: 0px; padding-left: 0;">A book sharing site among peers</h5>
        <br>
        <br>
        <br>
        <a href="/books" class="btn-large waves-effect waves-light blue-grey darken-1">View Books</a>
      </div>
      <br><br>
    </div>
  </div>
  </div>
<% include partials/footer %>
