<% include partials/header %>
<div class="row">
    <div class="col l3 m2 s0"></div>
    <div class="col l6 m10 s12">
<div class="card">
    <div class="card-panel">
        <div class="row " style="margin-top:5px; border-bottom:2px solid #5d5c61">
            <div class="col l12 s12 m12">
                <center>
<h3 style="color:#5d5c61;">Sign Up</h3>
</center>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <center>
    <button class="btn waves-effect waves-light" type="submit" style="background-color:#5d5c61;"name="action">Sign Up
    <i class="material-icons right">send</i>
  </button>
  </center>
</form></div>
</div>
</div>
</div>
</div>
</div>
<% include partials/footer %>